{% extends 'blog/base.html' %}
{% block content %}
<div class="jumbotron" style="margin:40px auto";>
    <h2>Login</h2>
    {% if form.errors %}
        <p>Your username and password did not match!</p>
    {% endif %}

    <form action="{% url 'login' %}" method="POST" style="text-align: center;">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class='btn btn-primary' value="Login">
        <input type="hidden" name="next" value="{{next}}">
        <!-- {{next}}= what to do next when person is logged in -->
    </form>
</div>
{% endblock content %}