
.bigbrand{
  font-family: 'Courgette', cursive;
  font-size: 1.5em;
  color: white;
}
#nav-logo{
  width: 6%;
  height: auto;
}

.centerstage{
  margin-left: auto;
  margin-right: auto;
}

.postdate{
  text-align: center;
}

.posttitle{
  font-family:'Russo One',sans-serif;
  font-size: 3em;
  text-align: center;
}

.postcontent{
  font-family: 'Motserrat',sans-serif;
  font-size: 1.5em;
}

.btn-comment{
  position: absolute;
  right: 0px;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
