{% extends 'blog/base.html' %}
{% block content %}
    <h1>Purpose of making this Blog Page:-</h1>
    <p>This Blog Page is created for the purpose of describing and elaborating upon certain topics. Multiple users can use this Blog Page to write their blogs and thoughts. Users are required to give a topic name for their blog page as well as the description of their blog. The Author name and the time of blog will be updated after the respective submission of the blog.</p>
    <br>
    <h5>Team members for the creation of this Blog Page are:-</h5>
    <ul>
        <li>Sarthak Gupta</li>
        <li>Sarvesh Kumar</li>
        <li>Saurabh Chandra</li>
        <li>Saurabh Raj</li>
    </ul>
    <br>
    This project utilizes HTML and CSS with Bootstrap as frontend, and Django as backend.

{% endblock content %}